@charset "UTF-8";

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #CC0000;
}
#principal {
    background-color: red;
    text-align: center;
    color: white;
}

h2{
    color: #262626;
}
p{
    color: #262626;
}

.basico {
color: rgb(1, 59, 1);
font-weight: bold;
}

.intermediario{

    color: rgb(172, 172, 1);
}

.avancado{
color: rgb(109, 2, 2);
}